*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
body{
	font-family: arial , sans-serif;
	display: block;
	font-size: 16px;
    line-height: 1.8;
    color: #000;
    box-sizing: border-box;
}
a {
	text-decoration: none;
	cursor: pointer;
}

p {
    font-size: 14px;
    color: #9d9d9d;
    font-family: "Montserrat Alternates",sans-serif;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 15px 0;
}
input{
    outline: none;
}
textarea{
    outline: none;
}
.nav-link ,.active{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
}
.nav-toogle{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    display: block;
    padding: .5rem 1rem;
}
.nav-toogle:hover{
    color: #F9AD81;
    text-decoration: none;
}
.dropdown-toggle::after {
    color: #F9AD81;
}
.nav-tabs .nav-link.active {
    color: #f9ad81;
    background-color: transparent;
    border: none;
}
.nav-tabs{
    border: none;
}
.nav-link.active::after{
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 5px;
    height: 5px;
    background: #F9AD81;
    content: "";
    border-radius: 50%;
    transform: translateX(-2.5px);
    opacity: 1;
    transition: all 0.2s;
}
.nav-link::after{
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 5px;
    height: 5px;
    background: #F9AD81;
    content: "";
    border-radius: 50%;
    transform: translateX(-2.5px);
    opacity: 0;
    transition: all 0.2s;
}
.nav-link:hover::after{
    opacity: 1;
}
ul li.active a:after {
    opacity: 1;
}
.nav-link:hover,.primary-btn:hover ,.active{
    color: #F9AD81;
}
.primary-btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 38px;
    color: #ffffff;
    background: #F9AD81;
    letter-spacing: 0.5px;
}
.primary-btn:hover{
    color: #Ffffff;
    text-decoration: none;
}
/*end nav*/
/*start sec 2*/
.hero-area {
    height: 938px;
    padding-top: 396px;
    overflow: hidden;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.hero-text h1 {
    font-size: 96px;
    color: #ffffff;
    font-weight: 600;
}@media(max-width: 767px){
.hero-text h1 {
    font-size: 70px;
}
}
/*end sec 2*/
.search-filter {
    margin-top: -362px;
    position: absolute;
    width: 100%;
    z-index: 99;
}
.check-form {
    padding-top: 30px;
    padding-bottom: 65px;
    padding-right: 48px;
    padding-left: 48px;
    margin: 0 -50px;
    position: relative;
    z-index: 1;
}
.nice-select {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.btn-secondary{
    color: #676767;
    background-color: #fff;
    border: none;
    opacity: 0.5;
    font-weight: bold;
}
.btn-secondary:hover{
    color: #676767;
    background-color: #fff;
    border: none;
    opacity: 0.5;
}
.btn-secondary.focus, .btn-secondary:focus{
    color: #676767;
    background-color: #fff;
    border: none;
    opacity: 0.5;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #676767;
    background-color: #fff;
    border: none;
    opacity: 0.5;
}
.drop-d{
    border-bottom: 1px solid #888888;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #c5cad0;
    font-weight: bold;
}
.drd-t{
    width: 100%;
    border: none;
}
@media (max-width: 991px){
.check-form {
    margin: 0;
}}
@media (max-width: 991px){
.check-form .datepicker ,.room-selector{
    width: 100%!important;
    margin-right: 0!important;
}}
@media (max-width: 991px){
.check-form button {
    width: 100%!important;
    padding: 15px 27px!important;
}}
@media (max-width: 991px){
.check-form .room-quantity .single-quantity {
    margin-right: 80px!important;
}}
@media (max-width: 767px){
.check-form .room-quantity .single-quantity {
    margin-right: 30px!important;}
}
@media (max-width: 479px){
.check-form .room-quantity .single-quantity {
    margin-right: 4px!important;
    margin-bottom: 10px!important;
}}
@media (max-width: 991px){
.check-form .room-quantity {
    width: 100%!important;
    margin-right: 0!important;
}}
@media (max-width: 991px){
.search-filter {
    position: relative;
    margin-top: -230px;
}}
.check-form h4 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 24px;
}
.check-form .datepicker {
    width: calc(17.3% - 19px);
    margin-right: 10px;
}
.check-form .datepicker {
    width: calc(19.3% - 19px);
    float: left;
    margin-right: 19px;
    background: #ffffff;
    position: relative;
    padding: 18px;
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-quantity {
    width: calc(36% - 16px);
    margin-right: 10px;
}
}
.check-form .room-quantity {
    width: calc(29% - 16px);
    float: left;
    margin-right: 16px;
    background: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 29px;
    padding-right: 28px;
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-selector {
    width: calc(25% - 16px);
    margin-right: 10px;
}
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form{
    margin: 0 -20px!important;
}}
.check-form .room-selector {
    width: calc(25% - 16px);
    float: left;
    margin-right: 16px;
    background: #ffffff;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 18px;
}
.check-form button {
    background: #F9AD81;
    border: 1px solid #F9AD81;
    font-size: 18px;
    color: #ffffff;
    padding: 43px 27px;
    cursor: pointer;
}
.check-form:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    content: "";
    opacity: 0.47;
    z-index: -1;
}
.check-form .datepicker input {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: #242424;
    opacity: 0.5;
    letter-spacing: 1.2px;
    line-height: 42px;
    border-bottom: 1px solid #888888;
}@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-quantity {
    width: calc(36% - 16px);
    margin-right: 10px;
}}
.check-form .room-quantity .single-quantity .pro-qty input {
    width: 28px;
    border: none;
    float: left;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #081624;
    opacity: 0.25;
    letter-spacing: 0.4px;
    margin-top: -2px;
}
.check-form .room-quantity .single-quantity .pro-qty .qtybtn {
    float: left;
    width: 15px;
    text-align: center;
    cursor: pointer;
    display: block;
    color: #081624;
    font-size: 11px;
    letter-spacing: 0.4px;
    line-height: 42px;
}
.check-form .room-quantity .single-quantity .pro-qty {
    border-bottom: 1px solid #888888;
    line-height: 42px;
    height: 42px;
}
.check-form .room-quantity .single-quantity {
    display: inline-block;
    margin-right: 30px;
}@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-quantity .single-quantity {
    margin-right: 15px;
}}
@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-selector {
    width: calc(25% - 16px);
    margin-right: 10px;
}}
.check-form .room-selector .nice-select {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
    float: none;
    line-height: 42px;
    border-bottom: 1px solid #888888;
}
.check-form .room-selector .nice-select span {
    font-size: 10px;
    color: #242424;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6;
}
.nice-select .option.selected {
    font-weight: bold;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form button {
    padding: 43px 19px;
}}
@media(max-width: 1199px) and (min-width: 992px){
.check-form .datepicker {
    width: calc(17.3% - 19px);
    margin-right: 10px;
}
}
.check-form .datepicker p {
    font-size: 14px;
    color: #242424;
    letter-spacing: 0.4px;
    margin-bottom: 7px;
    font-weight: 600;
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form .datepicker img {
    display: none;
}
}
.check-form .room-quantity .single-quantity p {
    font-size: 14px;
    color: #242424;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    font-weight: 600;
}
@media (max-width: 1199px) and (min-width: 992px){
.check-form .room-selector .nice-select .list {
    width: auto!important;
}}
.check-form .room-selector .nice-select .list {
    margin-top: 1px;
}   
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6!important;
}
.check-form .room-quantity .single-quantity.last {
    margin-right: 0;
}
.check-form .datepicker img {
    position: absolute;
    right: 18px;
    bottom: 33px;
}
img {
    max-width: 100%;
}
/*end sec 3*/
/*start sec 4*/
.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro-text {
    border: 15px solid #f9ad81;
    padding-left: 50px;
    padding-top: 58px;
    padding-bottom: 57px;
    padding-right: 45px;
    overflow: hidden;
}
.section-title span {
    color: #868686;
    display: block;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
}
.section-title h2 {
    color: #181717;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 40px;
    font-family: "Montserrat Alternates",sans-serif!important;
}
p {
    font-size: 14px;
    color: #9d9d9d;
    font-family: "Montserrat Alternates",sans-serif;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 15px 0;
}
.intro-right {
    padding-top: 168px;
    /*end sec 4*/
}/* start sec 5*/
.facilities-item {
    margin: 0 -15px;
    height: 796px;
    padding-top: 95px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}
.facilities-item .fi-title {
    margin-bottom: 375px;
}
.facilities-item .fi-title h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 8px;
}
.facilities-item .fi-title h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 8px;
}
.facilities-item .fi-features {
    margin-bottom: 28px;
}
.facilities-item .fi-features .fi-info {
    display: inline-block;
    text-align: center;
    margin-right: 24px;
}
.facilities-item .fi-features .fi-info i {
    color: #fff;
    font-size: 38px;
    margin-bottom: 20px;
}
.facilities-item .fi-features .fi-info p {
    color: #fff;
    margin-bottom: 0;
}
.facilities-item .primary-btn {
    background: transparent;
    border: 3px solid #ffffff;
}
.facilities-item .fi-title p {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
}
.facilities-item.fi-right .fi-title {
    margin-bottom: 488px;
}
@media (max-width: 767px){
.facilities-item {
    padding-left: 40px;
    padding-right: 15px;
}}
@media (max-width: 1199px) and (min-width: 992px){
.facilities-item {
    padding-left: 50px;
    padding-right: 15px;
}}
/*end sec 5*/
/*start sec 6*/
.testimonial-section {
    padding-bottom: 60px;
}
.testimonial-section .section-title h2 {
    font-size: 60px;
    color: #242424;
    margin-top: 0;
}
.testimonial-item {
    margin-bottom: 40px;
}
.testimonial-item .ti-time {
    font-size: 11px;
    letter-spacing: 1.2px;
    color: #242424;
    opacity: 0.5;
    font-weight: 600;
    line-height: 36px;
}
.testimonial-item h4 {
    color: #242424;
    font-weight: 600;
    margin-bottom: 6px;
}
.testimonial-item .rating {
    margin-bottom: 15px;
}
.testimonial-item .rating i {
    color: #ed8a19;
}
.testimonial-item p {
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}
.testimonial-item .ti-author .author-pic {
    float: left;
    margin-right: 18px;
}
.testimonial-item .ti-author .author-text {
    float: left;
    padding-top: 5px;
}
.testimonial-item .ti-author .author-pic img {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}
.testimonial-item .ti-author .author-text h6 {
    color: #F9AD81;
    font-weight: 600;
    line-height: 24px;
}
h6 {
    font-size: 16px;
}
.testimonial-item .ti-author .author-text h6 span {
    display: block;
    font-size: 12px;
    color: #242424;
    letter-spacing: 0.2px;
}
/*end sec 6*/
/*start sec 7*/
.video-section {
    padding-bottom: 0;
}
.video-section .video-bg {
    height: 534px;
}
.video-text {
    height: 703px;
    position: relative;
    margin-top: -320px;
}
.video-text a {
    color: #F9AD81;
    height: 95px;
    width: 95px;
    background: #fff;
    text-align: center;
    line-height: 98px;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-47px, -47px);
}
.fa-play::before {
    content: "ÔÅã";
}
/*end sec 7*/
/*start sec 8*/
.homepage-about {
    padding-top: 75px;
    padding-bottom: 70px;
}
.homepage-about .about-text {
    margin-bottom: 30px;
}
.homepage-about .about-text .section-title h2 {
    color: #242424;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-top: 16px;
}
.homepage-about .about-text p {
    letter-spacing: 0.2px;
    margin-bottom: 42px;
}
.homepage-about .about-img {
    margin-bottom: 30px;
}
.homepage-about .about-img img {
    min-width: 100%;
}
/*end sec 8*/
/*start footer*/
.footer-section {
    background: #242424;
    padding-top: 72px;
}
.footer-item {
    margin-bottom: 30px;
}
.footer-item .footer-logo {
    margin-bottom: 25px;
}
.footer-item h5 {
    color: #F9AD81;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 57px;
}
.footer-item .newslatter-form {
    position: relative;
}
.footer-item .newslatter-form input {
    width: 100%;
    height: 50px;
    background: #676767;
    border: none;
    font-size: 15px;
    color: #ffffff!important;
    padding-left: 25px;
    padding-right: 15px;
}
.footer-item .newslatter-form button {
    font-size: 14px;
    color: #ffffff;
    background: #F9AD81;
    display: inline-block;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 25px;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
}
.footer-item ul {
    margin-top: -5px;
}
.footer-item ul li {
    list-style: none;
    color: #9d9d9d;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
}
.footer-item ul li img {
    position: absolute;
    left: 0;
    top: 4px;
}
.copyright {
    background: #171717;
    overflow: hidden;
    padding: 24px;
    margin-top: 30px;
}
.copyright ul {
    float: right;
}
.copyright ul li {
    list-style: none;
    display: inline-block;
    margin-right: 45px;
}
.copyright ul li.active a {
    color: #F9AD81!important;
}
.copyright ul li.active a::after{
    opacity: 1;
}
.copyright ul li a {
    color: #a1a1a1!important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 5px;
    position: relative;
    transition: all 0.2s;
    text-decoration: none;
}
.copyright ul li a::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 5px;
    height: 5px;
    background: #F9AD81;
    content: "";
    border-radius: 50%;
    transform: translateX(-2.5px);
    opacity: 0;
    transition: all 0.2s;
}
.copyright ul li a:hover::after {
    color: #F9AD81!important;
    opacity: 1;
}
.copyright ul li a:hover{
    color: #F9AD81!important;
    opacity: 1;
}
.pt-5, .py-5 {
    padding-top: 2rem!important;
}
.cbl{
    color: #F9AD81;
}
@media (max-width: 767px){
.copyright ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}}
/*end footer */
#number ,#number1,#number2{
    width: 28px;
    border: none;
    float: left;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #081624;
    opacity: 0.25;
    letter-spacing: 0.4px;
    margin-top: -2px;
}
input::placeholder{
    color: #Ffffff;
    font-size: 13px;
    opacity: 0.7;
    font-weight: normal;
}